<!DOCTYPE html>
<html>
<head>
    <title>Hello, {{ username }}!</title>
    <style>
        body {
            background-color: #F1F1F1;
            color: #1A1A1A;
            font-family: "Arial", sans-serif;
            text-align: center;
            margin-top: 100px;
        }

        h1 {
            font-size: 48px;
            text-shadow: 2px 2px 4px #888888;
        }

        p {
            font-size: 24px;
            text-shadow: 2px 2px 4px #888888;
        }
    </style>
</head>
<body>
    <h1>Hello, {{ name }}!</h1>
</body>
</html>
